$succsesColor:#27AE60;
$errorColor:#EB5757;
$infoColor:#2F80ED;
$warningColor:#E2B93B;
$dynamicBlack:#1D1D1D;
$lead:#202020;
$coldGray:#2E3133;
$background:#000000;
$hawksEye:#818385;
$stoneCold:#565657;
$missionControl:#818385;
$shadyLady:#9E9A9F;
$palladium:#B1B1B1;
$glacierGrey:#BCBCBE;
$bonbon:#FFE6FB;
$hermosaPink:#FEB3F2;
$splashOfGrenadine:#fd8 1e9;
$purplePizzazz:#fd4fe0;
$fuchsiaFlame:#F903D0;
$PassionatePink:#e303bd;
$jealousJellyfish:#B00293;
$pionPurple:#4C013F;
$globeThistle:#32012A;
$Primary-Gradient:#F903D0 0%, #9A16F2 100%;
$placeboFuchsia:#E0B7FB;
$grassPinkOrchid:#cb86f8;
$shotokuPurple:#b656f6;
$singaporeOrchid:#9A16F2;
$indivioletSunset:#6909a9;
$invasiveIndigo:#4b0779;
$cotingaPurple:#39055C;
$edgeOfSpace:#2d0448;
$darkVoid:#151519;
$reversedGrey:#080808;
$blackMetal:#050506;
$white: #ffffff;

