.container {
    display: none;
}

@media screen and (max-width: 767px) {

    .container {
        display: flex;
        background-color: #080808;
        width: 100%;
        height: 72px;
        position: fixed;
        bottom: 0;
        justify-content: space-around;
        align-items: center;

    }

    .cellMenuItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        width: 80px;
    }

    .unActiveFont {
        font-size: 14px;
        font-weight: 400;
        color: #818385;
    }

    .activeFont {
        font-size: 14px;
        font-weight: 400;
        color: white;

    }
}