@import '../../components/colors/colors.scss';

.container {
    color: $white;
    width: 100%;
    padding: 0px 24px 24px 24px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 180px;
    min-height: 100vh;
}

@media screen and (min-width: 300px) and (max-width: 357px) {
    .container {
        margin-bottom: 230px;
    }
}

@media screen and (min-width: 200px) and (max-width: 370px) {
    .cellPlaylist {
        justify-content: center;
    }
}
.mobileGap {
    margin-top: 40px;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.miniContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}

.cellheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cellFont {
    display: flex;
}

.cellInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cellPlaylist {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 1500px;
    width: 100%;
}


.cursor {
    cursor: pointer;
}

.newPlaylist {
    position: absolute;
    z-index: 1;
    top: 310px;
    left: 620px;
}

.cellReusableinput {
    max-width: 548px;
    width: 100%;
}

.tabletCursos {
    display: none;
}

.tabletBurgercursos {
    display: none;
}

.mobileButton {
    display: none;
}

.cellMyPlaylist {
    font-size: 32px;
    font-weight: 500;
}


@media screen and (min-width: 750px) and (max-width: 1024px) {
    .container {
        margin-top: 32px;
    }
    .onlyInput {
        max-width: 332px;
        width: 100%;
    }

    .cellPlaylist {
        flex: 1;
    }

    .cellReusableinput {
        max-width: 332px;
        width: 100%;
    }

    .cellFont {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .cursor {
        display: none;
    }

    .tabletCursos {
        display: flex;
        cursor: pointer;
    }

    .tabletBurgercursos {
        display: flex;
        cursor: pointer;
        position: absolute;

    }

    .newPlaylist {
        left: 26%;

    }

    .cellMyPlaylist {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
    }


}

@media screen and (max-width: 750px) {


    .container {
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 24px;
    }
    .screenButton {
        display: none;
    }

    .mobileButton {
        display: flex;
    }

    .mobileGap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .cellMyPlaylist {
        color: $white;
        font-size: 16px;
        font-weight: 500;
    }
    .cellPlaylist {
        gap: 10px;
    }
    .newPlaylist {
        left: 18%;
    }
    


}