.container {
    width: 100%;
    padding: 0px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 180px;
}


// .cellheader {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

.cursor {
    cursor: pointer;

}

.tabletBurgercursos {
    display: none;
}

.tabletCursor {
    display: none;
}

@media screen and (min-width: 375px) and (max-width: 744px) {

    .container {
        margin-top: 32px;
    }

    .input {
        max-width: 348px;
        width: 100%;
    }

    .cursor {
        display: none;
    }

    .tabletBurgercursos {
        display: flex;
        cursor: pointer;
    }

    .tabletCursor {
        display: flex;
        position: absolute;
        cursor: pointer;
        left: 48px;
        top: 160px;
    }

}

@media screen and (max-width: 375px) {
    .container {
        margin-top: 24px;
        padding-left: 16px;
        padding-right: 16px;
    }

}