@import '../colors/colors.scss';

.container {
    max-width: 277px;
    min-height: 100%;
    background-color: $reversedGrey;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.container_menu {
    width: 240px;
    height: 100%;
    background-color: $reversedGrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}
.cursorLogo {
    cursor: pointer;
}
