.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1300px;
    width: 100%;
    padding: 40px 24px 0 24px;
    flex-wrap: wrap;
}

@media screen and (min-width: 1400px) {
    .container{
        margin: 0 auto;
    }
}