.container {
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding-top: 20px;
    gap: 16px;
  }
  
  .time {
    display: flex;
    align-items: center;
  }
  
  .timing {
    color: #fff;
    font-size: 12px;
    margin: 0 10px;
    align-items: center;
    margin-bottom: 7px;
  }
  
  .load {
    -webkit-appearance: none;
    appearance: none;
    min-width: 248px;
    height: 8px;
    border-radius: 5px;
    outline: none;
    background-color: #2E3133;
    cursor: pointer;
  }
  
  .load::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1px;
    width: 1px;
    background: var(--Gradient-apolo, linear-gradient(90deg, #F903D0 0%, #9A16F2 100%));
    border-radius: 12px;
  }
  
  .load::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
  }
  
  .buttons {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  
  .btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .btn:hover {
    transform: scale(1.1);
  }
  
  // .circle {
  //   width: 48px;
  //   height: 48px;
  //   border-radius: 50%;
  //   background;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
  
  .volume {
    display: flex;
    align-items: center;
  }
  .volimg{
    display: none;
  }
  
  .volSetting {
    display: none;
  }
  
  .progressMain {
    position: relative;
  }
  
  .progressDiv {
    position: relative;
    height: 10px;
    background: aqua;
    bottom: 14px;
    border-radius: 12px;
  background: var(--Gradient-apolo, linear-gradient(90deg, #F903D0 0%, #9A16F2 100%));
  }
  // @media  screen and (min-width:320px) and (max-width:480px) {
  
  // }
  @media screen and (min-width:767px) and (max-width:9999px) {
  .container{
    display: none;
  }

  .time {
    display: none;
  }
  
  .timing {
   display: none;
  }
  
  .load {
    display: none;
  }
  
  .load::-webkit-slider-thumb {
    display: none;
  }
  
  .load::-moz-range-thumb {
    display: none;
  }
  
  .buttons {
    display: none;
  }
  
  .btn {
    display: none;
  }
  
  .btn:hover {
display: none;  }
  
  .volume {
    display: none;
  }
  
  .volSetting {
   display: none;
  }
  
  .volSetting::-webkit-slider-thumb {
    display: none;
  }
  
  .volSetting::-moz-range-thumb {
    display: none;
  }
  .progressMain {
    display: none;
  }
  
  .progressDiv {
    display: none;
  }
  // @media  screen and (min-width:320px) and (max-width:480px) {
  
  // }
}