@import '../colors/colors.scss';

.wrapper {
    width: 260px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.heading {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 16px;
    background-color: $darkVoid;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    // max-height: 100%;
    // max-width: 100%;
    height: 280px;
}

.container:hover {
    background-color: #323232;
}

.container:hover .image {
    opacity: 0.8;
}

.container span:only-of-type {
    color: $shadyLady;
    font-size: 14px;
    font-family: var(--font-Plus-Jakarta-sans);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;         /* Prevents text from wrapping */
    overflow: hidden;            /* Hides overflowing text */
    text-overflow: ellipsis;   
}

.container h4 {
    color: #FFF;
    font-family: var(--font-Plus-Jakarta-sans);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;         /* Prevents text from wrapping */
    overflow: hidden;            /* Hides overflowing text */
    text-overflow: ellipsis;     
}

.wrapper h3 {
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.imageRounded {
    border-radius: 50%;
}

.union {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content-visibility: hidden;
    padding-top: 75px;
}

.union:hover {
    content-visibility: visible;
}