.container {
    position: relative;
    color: red;
}

// .wrapper {
//     position: absolute;
//     bottom: -12px;
// }

.wrapper {
    color: #B1B1B1;
    font-size: 15px;
    font-weight: 500;
    font-family: var('--font-Plus-Jakarta-sans');
}