.container {
    width: 228px;
    gap: 24px;
    background-color: red;
    pointer-events: auto; // ქვეშ მდებარე ელემენტებზე დაწკაპებას არ გადასცემს

    // position: relative;
    // left: 50px;
    // bottom: 25px;
    // height: 100%;
}