.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 25px 25px 200px 25px;
    gap: 30px;
}

// @media screen and (min-width: 300px) and (max-width: 767px) {
//     .container {
//         margin-bottom: 200px;
//     }
// } 


