.container {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-bottom: 25px;
   position: relative;
   right: 15px;
}

.hits {
    max-width: 1350px;
    width: 100%;
    display: flex;
    // justify-content: space-between;
    gap: 20px;
}

.box {
    display: flex;
}


@media screen and (max-width: 1555px) {
    .hits {
        overflow-x: scroll;
      
       padding: 57px 0;
    }

    .hits::-webkit-scrollbar {
        display: none;
    }
}